<div>
  <img class="welcome" id="logo" src="/images/tm_head.png">
  <a class="welcome" href="/tomatoes/<%= @random.id %>">Random</a>
  <a class="welcome" href="/tomatoes/new">Add a Tomato</a>
  <a class="welcome" href="/tomatoes">See All</a>
</div>